html {
    scroll-behavior: smooth;
}

body{
    background-color: #1F1D2B;
    font-family: 'Raleway';
    margin: 0;
    /*
    * Для эксплорера
    */
   -ms-user-select: none;

   /**
    * Для мозилы
    */
   -moz-user-select: none;

   /**
    * Для конкверора
    */
   -khtml-user-select: none;

   /**
    * Для Сафари и Хрома
    */
   -webkit-user-select: none;
}

body::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 60%;
    top: 138px;
    filter: blur(90px);
    background-color: #FB37FF;
}

body::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 80%;
    top: 550px;
    background-color: #18B2DE;
    filter: blur(80px);
}

.w-45{
    width: 45%;
}

.w-90{
    width: 80%;
}

.mx-auto{
    margin: 0 auto;
}

.nav .w-45{
    text-align: center;
}

.d-flex{
    display: flex;
}

header{
    padding: 20px 6px;
}

a{
    text-decoration: none!important;
}

.logo{
    font-size: 42px;
}

.nav{
    font-weight: bold;
    align-items: center;
    height: 57px;
    justify-content: space-evenly;
}

.w-45 .nav-link{
    margin: 0 100px!important;
}

.nav-link{
    padding: 0 4px;
    color: white;
    text-transform: uppercase;
}

.nav-link:hover{
    color: rgb(192, 192, 192);
    transition: 0.3s;
}

.text-center{
    text-align: center;
}

h2{
    margin: 0px;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    padding: 1.2rem;
}

.card{
    background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
    cursor: pointer;
    margin: 1rem 2rem;
    width: 16rem;
    color: white;
    border-radius: 35px;
    border: 1px solid black;
    /* border: 2px solid #065f5d; */
    padding: 0.75rem;
}

.card:hover{
    background-color: #18B2DE;
    transition: 0.3s;
    border: 1px solid rgb(1, 110, 112);
    -moz-box-shadow: 0 0 10px #18B2DE;
    -webkit-box-shadow: 0 0 10px #18B2DE;
    box-shadow: 0 0 10px #18B2DE;
}

.card__wrap{
    flex-wrap: wrap;
    justify-content: center;
}

.card-text h5{
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
}

.card-text p{
    color: #ffffffa3;
    text-align: justify;
    line-height: 1.7rem;
}

.head i{
    font-size: 3rem;
    margin: 30px 0;
}

.scroll__top{
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.8rem 1rem;
    background-color: white;
    width: fit-content;
    border-radius: 50%;
    -moz-box-shadow: 0 0 10px #ffffff;
    -webkit-box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    z-index: 9999;
}

.scroll__top i{
    font-size: 1.5rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
}

/* .bg-white{
    background-color: white;
} */

.bg-white h2{
    /* color: black; */
}

.zg{
    margin: 0px;
    padding: 0 16px;
    align-self: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: rgb(226, 226, 226);
    text-align: -webkit-center;
}

.social-media{
    position: relative;
    grid-template-columns: auto auto auto auto;
    font-size: 2rem;
    padding: 1rem 0;
    place-content: center;
    gap: 30px;
}

.social-media::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 100px;
    top: -30px;
    filter: blur(80px);
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
}

.box__social{
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2.01px -2.01px 20px rgb(214 214 214 / 17%), inset -3.01333px 3.01333px 3.01333px rgb(255 255 255 / 39%);
    backdrop-filter: blur(74.4293px);
    width: 100px;
    height: 100px;
    border-radius: 18px;
    text-align-last: center;
}

.social-media a{
    color: #bdbdbd;
    padding: 34px;
}

.social-media a:hover{
    transition: 0.3s;
    color: #eeeeee;
    padding: 34px;
}

/* adaptive */

@media (max-width: 650px) {

}