body{
    background-color: black;
    font-family: 'Raleway';
    margin: 0;
    /*
    * Для эксплорера
    */
   -ms-user-select: none;

   /**
    * Для мозилы
    */
   -moz-user-select: none;

   /**
    * Для конкверора
    */
   -khtml-user-select: none;

   /**
    * Для Сафари и Хрома
    */
   -webkit-user-select: none;
}

.w-45{
    width: 45%;
}

.w-90{
    width: 80%;
}

.mx-auto{
    margin: 0 auto;
}

.nav .w-45{
    text-align: center;
}

.d-flex{
    display: flex;
}

header{
    padding: 20px 6px;
}

a{
    text-decoration: none!important;
}

.logo{
    font-size: 42px;
}

.nav{
    font-weight: bold;
    align-items: center;
    height: 57px;
    justify-content: space-evenly;
}

.w-45 .nav-link{
    margin: 0 100px!important;
}

.nav-link{
    padding: 0 4px;
    color: white;
    text-transform: uppercase;
}

.nav-link:hover{
    color: rgb(192, 192, 192);
    transition: 0.3s;
}

.text-center{
    text-align: center;
}

h2{
    margin: 0px;
    padding: 1.2rem;
    color: white;
    font-size: 2rem;
}

.card{
    cursor: pointer;
    margin: 1rem 2rem;
    width: 16rem;
    color: white;
    border-radius: 0.25rem;
    border: 2px solid #065f5d;
    padding: 0.75rem;
}

.card:hover{
    background-color: #00a4a6;
    transition: 0.3s;
    border: 2px solid rgb(1, 110, 112);
    -moz-box-shadow: 0 0 10px #00a4a6;
    -webkit-box-shadow: 0 0 10px #00a4a6;
    box-shadow: 0 0 10px #00a4a6;
}

.card__wrap{
    flex-wrap: wrap;
    justify-content: center;
}

.card-text h5{
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
}

.card-text p{
    color: #ffffffa3;
    text-align: justify;
    line-height: 1.7rem;
}

.head i{
    font-size: 3rem;
    margin: 30px 0;
}

.scroll__top{
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.8rem 1rem;
    background-color: white;
    width: fit-content;
    border-radius: 50%;
    -moz-box-shadow: 0 0 10px #ffffff;
    -webkit-box-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    z-index: 9999;
}

.scroll__top i{
    font-size: 1.5rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
}

.bg-white{
    background-color: white;
}

.bg-white h2{
    color: black;
}

.zg{
    margin: 0 auto;
    text-align: -webkit-center;
    width: 300px;
    font-size: 1.1rem;
}

.social-media{
    font-size: 2rem;
    padding: 1rem 0;
    place-content: center;
    gap: 30px;
}

.social-media a{
    color: black;
}

/* adaptive */

@media (max-width: 650px) {

}